<!-- Code to Create Chat Box -->
<% if(locals.user) { %> 

<div id="chat-box-container" class="displayBlock">
    <div id="minimize-chat-box" class="displayFlex">X</div>
    <div id="user-chat-box">
        <ul id="chat-messages-list">
    
            <li class="other-message">
                <span>Other Message</span>
            </li>
            <li class="self-message">
                <span>Self Message</span>
            </li>
    
        </ul>
        
        <div id="chat-message-input-container">
    
            <input type="text" id="chat-message-input" placeholder="Type Message Here">
            <button id="send-message">Send</button>
            
        </div>
    
    </div>
    
</div>

<div id="minimized-chat-box" class="displayToggle">C</div>

<% } %>
<script>

    let minimize_btn = $('#minimize-chat-box');
    let maximize_btn = $('#minimized-chat-box');
    let chat_box = $('#chat-box-container');
    minimize_btn.click(function(e){
        chat_box.toggleClass('displayBlock');
        chat_box.toggleClass('displayToggle');
        maximize_btn.toggleClass('displayToggle');
        maximize_btn.toggleClass('displayBlockFlex');
       
        minimize_btn.toggleClass('displayFlex');
        minimize_btn.toggleClass('displayToggle');
       
    });

    maximize_btn.click(function(e){
        chat_box.toggleClass('displayToggle');
        chat_box.toggleClass('displayBlock');
        maximize_btn.toggleClass('displayBlockFlex');
        maximize_btn.toggleClass('displayToggle');
        
        minimize_btn.toggleClass('displayFlex');
        minimize_btn.toggleClass('displayToggle');
    });

</script>