<footer>
    <div id="footer-signature">
        <p>@ Coding Ninjas. All Rights Reserved</p>
    </div>
    <nav id="footer-nav">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </nav>
</footer>