<link rel="stylesheet" type="text/css" href="<%= assetPath('css/recover_pass_screen_style.css') %>">

<div id="rec-pass-container">
    <h1 id="rec-pass-heading">
        Forgot your Password?
    </h1>
    <hr>
    <p id="rec-pass-text">
        Please enter your email address a password Reset Link will be sent to this Email for your account.
    </p>
    <form action="/users/reset-password-req" method="post">

        <input type="email" name="email" placeholder="Enter your Email address">
        <input type="submit" value="Submit" id="pass_reset_request">

    </form>
</div>


