
<link rel="stylesheet" type="text/css" href="<%= assetPath('css/setnew_pass_style.css') %>">
<div>
    <h1 id="change-pass-heading">Change Your Password</h1>
    <hr>
    <p id="new-password-text">Choose a new password for your  Codial account.</p>
    <form action="/users/password_reset/?accessToken=<%= locals.accesToken %>" method="post">

        <input type="password" name="password" placeholder="Enter Your New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Your Password" required>
        <input type="submit" value="submit">

    </form>
</div>