<div>
    <h1>Change Your Password</h1>
    <hr>

    <form action="/users/password_reset/?accessToken=<%= locals.accesToken %>" method="post">

        <input type="password" name="password" placeholder="Enter Your New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Your Password" required>
        <input type="submit" value="submit">

    </form>
</div>