<link rel="stylesheet" type="text/css" href="<%= assetPath('css/sign_up_style.css') %>">

<h1 id="sign-up-heading">Create Account</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required class="sign-up-input">
    <input type="email" name="email" placeholder="Your Email" required class="sign-up-input">
    <input type="password" name="password" placeholder="password" required class="sign-up-input">
    <input type="password" name="confirm_password" placeholder="confirm_password" required class="sign-up-input">
    <input type="submit" value="Sign Up">

</form>

<p id="forgot-pass-link">
    <a href="/users/reset_password">Forgotten password?</a>
</p>

<p id="google-signIn-link">

    <a href="/users/auth/google"> Google Sign In/Sign up  </a>
</p>

