<link rel="stylesheet" type="text/css" href="<%= assetPath('css/sign_in_style.css') %>">

<h2 id="sign-in-heading">Sign In to  Your Account</h2>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sign In">

</form>

<p id="forgot-pass-link">
    <a href="/users/reset_password" >Forgotten password?</a>
</p>

<p id="google-signIn-link">

    <a href="/users/auth/google"> Google Sign In/Sign up  </a>
</p>


