<div>

    <p>Hi <%= passToken.user.name %> </p>
        <br>
        <br>
    <p>Please Visit the Below provided link and reset your password</p>
        <br>
        <br>
    <p>
        <a href="http://localhost:8000/users/password_reset/?accessToken=<%= passToken.accesToken %>">Click to Reset  Password</a>
    </p>

</div>